/* simple tab */
.simple
{
	position        : absolute;
}

.simple .tabPage
{
   display			: none;
}
.simple .tabBox,
.simple .tabContainer
{
   overflow			: auto;
   position         : relative;
}
.simple .filler
{
   width            : 1px;
   padding          : 2px;
}

.simple a.tabsName,
.simple a.tabsNameSelected
{
   font-family		: arial, sans serif, times new roman;
   font-size		: 13px;
   white-space		: nowrap;
   text-decoration  : none;
   color            : black;
}

.simple td.tabsGfx,
.simple td.tabsGfxSelected
{ 
   padding-left      : 0px;
   padding-right     : 3px;
   padding-bottom    : 4px;
   padding-left      : 0px;
}

.simple td.tabsName
{
   padding-left		: 4px;
   padding-right	: 4px;
   padding-bottom	: 2px;
   padding-top		: 1px;
   white-space      : nowrap;
}

.simple td.tabsNameSelected
{
   padding-left		: 6px;
   padding-right	: 6px;
   padding-bottom	: 5px;
   padding-top		: 1px;
   white-space      : nowrap;
}

.simple a.tabsNameInactive
{
   font             : italic 3cm arial;
   font-size        : 13px;
   color            : #cccccc;
   text-decoration  : none;
   text-shadow      : black 0 0 4px;
   white-space      : nowrap;
}

